body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #e6ecf0;
}

.navbar {
  padding: 0.3rem 1rem;
}

.container {
  padding-right: 5px;
  padding-left: 5px;
  max-width: 1200px;
}

.buttons > .btn:not(:last-child) {
  margin-right: 5px;
}

.search {
  height: 35px;
  border-radius: 0.5rem;
}

.navbar-offset {
  bottom: 56px;
}

.sticky-offset {
  top: 56px;
}

.sidebar {
  min-width: 400px;
}

.sidebar > div {
  min-height: 500px;
  background-color: white;
  padding: 10px;
  z-index: 1019;
}

.tweet-list {
  max-width: 700px;
  min-width: 350px;
  margin-left: 90px;
}

.tweet-list .tweet {
  max-width: 700px!important;
}

.tweet-grid {
  max-width: 900px;
  min-width: 410px;
}

.tweet-columns {
  column-count: 2;
  column-gap: 0.5rem;
  max-width: 790px;
}

.tweet-user-container {
  margin-left: 50px;
  padding-top: 5px;
  padding-bottom: 10px;
}

.tweet-avatar {
  margin-top: 3px;
  margin-left: -58px;
  margin-right: 10px;
  width: 48px;
  height: 48px;
  border-radius: 24px;
  border: 0px;
  float: left;
}

.tweet-fullname {
  font-weight: bold;
  margin-right: 5px;
  color: rgb(20, 23, 26);
  display: block;
}

.tweet-username {
  direction: ltr;
  unicode-bidi: embed;
  font-size: 14px;
  color: rgb(101, 119, 134);
  display: block;
}

.tweet-username s {
  color: rgb(177, 187, 195);
  text-decoration: none;
}

.tweet-username b {
  font-weight: normal;
}

.link {
  color: inherit;
  text-decoration: none;
  cursor: auto;
}

.link:hover {
  text-decoration: none;
}

.tweet-profile-header {
  height: 320px;
}

.tweet-profile-header-bg {
  position: absolute;
  overflow: hidden;
  height: inherit;
}

.tweet-profile-avatar-container {
  position: relative;
  height: inherit;
}

.tweet-profile-container {
  margin-left: 58px;
}

.tweet-profile-avatar {
  margin-top: 3px;
  margin-left: -58px;
  margin-right: 10px;
  width: 60px;
  height: 60px;
  border-radius: 24px;
  border: 0px;
  float: left;
}

.tweet-profile-avatar-lg {
  margin-top: 3px;
  margin-right: 10px;
  width: 200px;
  height: 200px;
  border-radius: 24px;
  border: 5px solid #fff;
  float: left;
  bottom: -82px;
  left: 10px;
  position: absolute;
}

.tweet-profile-name {
  margin-left: 200px;
}

.tweet-profile-fullname {
  font-size: 21px;
  font-weight: bold;
  line-height: 28px;
  margin-right: 5px;
  color: rgb(20, 23, 26);
  display: block;
}

.user-card {
  min-width: 300px;
}

.user-stats-item {
  display: inline-block;
  padding-right: 15px;
}

.user-stats-label {
  color: #657786;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: .02em;
  line-height: 16px;
  margin-bottom: 2px;
  display: block;
  text-align: center;
}

.user-stats {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: .02em;
  line-height: 16px;
  display: block;
  text-align: center;
}